* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}
.item {
  width: 100%;
}
#top {
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#top > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 200px;
  line-height: 50px;
  text-align: center;
}
#middle {
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#middle > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 200px;
  line-height: 50px;
  text-align: center;
}
#bottom {
  background-color: green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#bottom > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 200px;
  line-height: 50px;
  text-align: center;
}
